@import "~react-big-calendar/lib/sass/styles";
@import "~react-big-calendar/lib/addons/dragAndDrop/styles";

.rbc-overlay {
    border-radius: 8px;

    .rbc-overlay-header {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border: none;
        font-size: 1rem;
        font-family: sans-serif;
    }

    .rbc-event {
        margin-bottom: 0.5rem;
    }
}
